#likebtn_like_button h2.likebtn_logo,
#likebtn_like_button h2.likebtn_logo a {
    color: #C2C2C2;
    font-family: 'Droid Sans',Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 -1px rgba(0, 0, 0, 0.3), 0 1px #FFFFFF;
}
#likebtn_like_button h2.likebtn_logo img {
    vertical-align: top;
}
.likebtn_like_button_collapse_trigger small {
    color: gray;
    margin-right: 5px;
}